<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    @for (goal of goals; track goal.title) {
    <div class="border rounded-lg shadow p-4 bg-white">
        <h3 class="text-lg font-bold">{{ goal.title }}</h3>
         <div class="top-2 right-2 flex gap-2">
            <button (click)="edit.emit(goal)" class="text-blue-500 hover:text-blue-700">
              ✏️ Edit
            </button>
            <button (click)="delete.emit(goal.id)" class="text-red-500 hover:text-red-700">
              🗑️ Delete
            </button>
        </div>
        <p class="text-sm text-gray-600 mt-1">
            <span class="font-medium">Type:</span>
            {{ goal.goalType === 'yesNo' ? 'Yes/No Goal' : 'Goal with value' }}
            @if (goal.goalType === 'withValue' && goal.targetValue) {
            <span> – Target: {{ goal.targetValue }}</span>
            }
        </p>
        <p class="text-sm text-gray-600">
            <span class="font-medium">Starts:</span> {{ goal.startDateTime | date:'medium' }}
        </p>
        <p class="text-sm text-gray-600">
            <span class="font-medium">Frequency:</span> {{ goal.frequency | titlecase }}
            @switch (goal.frequency) {
            @case ('daily') { every {{ goal.everyNDays }} day(s) }
            @case ('weekly') {
            every {{ goal.everyNWeeks }} week(s) on
            {{ getWeekdayNames(goal.selectedWeekdays) }}
            }
            @case ('monthly') { every {{ goal.everyNMonths }} month(s) on day {{ goal.dayOfMonth }} }
            @case ('yearly') { every {{ goal.everyNYears }} year(s) in {{ getMonthName(goal.yearlyMonth) }} on day {{
            goal.yearlyDay }} }
            }
        </p>
        @if (goal.remindersEnabled) {
        <p class="text-sm text-gray-600">
            <span class="font-medium">Reminder:</span> {{ goal.reminderOffset }}
        </p>
        }

       
    </div>
    } @empty {
    <p class="col-span-full text-center text-gray-500">No goals yet. Create one!</p>
    }
</div>