<!-- <div class="h-screen flex flex-col">
  <div class="flex-1">

<form (ngSubmit)="submitForm()" class="h-full flex flex-col">

  <div>
    <label class="block text-sm font-medium mb-1">Goal Name</label>
    <input
      type="text"
      [(ngModel)]="title"
      name="title"
      required
      class="w-full border rounded-lg px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-400"
      placeholder="Enter goal name"
    />
  </div>

  <div>
    <label class="block text-sm font-medium mb-1">Type</label>
    <select
      [(ngModel)]="type"
      name="type"
      required
      class="w-full border rounded-lg px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-400"
    >
      <option value="" disabled>Select type</option>
      <option value="daily">Daily</option>
      <option value="long-term">Long Term</option>
    </select>
  </div>

  <div class="flex justify-end gap-2 mt-4">
    <button
      type="button"
      (click)="close.emit()"
      class="px-4 py-2 border rounded-lg hover:bg-gray-100"
    >
      Cancel
    </button>

    <button
      type="submit"
      class="px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600"
    >
      Save
    </button>
  </div>

</form>

</div>
</div> -->